.card {
    background-color: #ffffff;
    border: 3px black solid;
    text-align: center;
    margin: 8px;
    display: inline-block;  
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
  }

  p {
    color: black
  }

  img {
    width: 100%;
    height: 20%;
    border-bottom: black 2px solid;
  }

.centering {
  width: 100%;
  height: 90%;
  float:left;
  text-align: center;
  
}
label {
  color:white;
}
 


  