.card {
    background-color: #ffffff;
    border: 3px black solid;
    text-align: center;
    margin: 8px;
    float: left;
    display: inline-block;
    
  }
  .card-primary {
    border-color: #000000;
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
  }

  p {
    color: black
  }

  img {
    width: 100%;
    height: 20%;
    border-bottom: black 2px solid;
  }

.centering {
  text-align:center;
        display: block;
        width: 100%;
}
 


  