.header
  link(rel='stylesheet', href='/stylesheets/angularHelper.css')

app-home-page Loading 

block scripts
  script(src="/build/runtime.da04ef8c07830eda.js")
  script(src="/build/polyfills.53177158dd1d51cc.js")
  script(src="/build/main.d9cf2e81acb15acc.js")