include layout 
.header
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/homepage.css')
.screen-div
    .main-div
        .top-div
            h2.what  What is Glorify The Game?
        .desc-div
            p  Glorify The Game is the place to be.
            p  Our Website will help you find the next best game. 
            p  We offer information on all the latest titles such as price,
            p  where to get it, its age rating and our own personal rating 