.header
  link(rel='stylesheet', href='/stylesheets/everyPage.css')
  #navbar
    h1 Glorify The Game
    a(href ='/api/addgame') Add Game 
    a(href='/register') Register
    a(href='/login') Login
    a(href='/games') Games
    a(href='/') Home
    
body
  block content

