.header
  link(rel='stylesheet', href='/stylesheets/style.css')
  #navbar
    h1 Glorify The Game
    a(href='register') Register
    a(href='login') Login
    a(href='games') Games
    a(href='./') Home
body
  block content
